body{
    background-color: #f7f3f1;
}

header {
    display: flex;
    align-items: center;
    padding: 0px 10px;
   
    
}

.bar{
    box-sizing: border-box;
    width: 1235;
    height: 37;
    overflow: hidden;
    background-color: #8D7ACB;
    color:#fff ;
    margin-top: 0px;
    margin-left: 40px;
    padding-top: 5px;

}
.bar a {
    display:block;
    font-family: inherit;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    float:left ;
    justify-content: space-between;
}
.li{
   margin-top: 0px;
   margin-right: 230px;
}

.hov:hover{
    color: #F6B6CC;
}
.a a{
    margin-left: 15px ;
    word-spacing: 3px;
}

.b a{
    margin-left: 10px;
    word-spacing: 5px;
    
}
.fa-basket-shopping{
    color: #fff;
}

.logo{
    box-sizing: border-box;
    width:1235 ;
    height:280 ;
    background-color: #fff;
    margin-left: 50px;
   
}

.photo{
    margin-left: 500px;
    margin-top: 50px;}
   
.border{
    border-bottom: 1px ridge #ece9e6; 
    margin-top: 40px;

}


.bar2{
    overflow: hidden;
    background-color: #ffffff;
    color:#000000 ;
    margin-left: 120px;
    padding-top: 30px;
    
}
.bar2 a{
    display:block;
    font-family: inherit;
    font-size: 15px;
    padding: 5px 37px;
    text-decoration: none;
    color: #454447;
    float:left ;
    justify-content: space-between;
    word-spacing: 5px;
}

.home{
    border-bottom: 2px solid  #C2CD4A; 
    margin-top: 30px;
    margin-left: 23px;
    width:70px;

}

.bar2 a:hover{
    text-decoration: underline solid 2px  #C2CD4A; 
    text-underline-offset: 12px;
}

.fa-magnifying-glass{
    color:  #8D7ACB;
}
 .under{
    box-sizing: border-box;
    width: 1235;
    height: 650;
    margin-left: 50px;
    padding-top: 0px;
    text-align: center;
    /* background-image: url("img/photo1.jpg");
    filter: blur(1px);*/ 
     position: relative;
 }
 .under1{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #C2CD4A;
    position: absolute;
    word-spacing: 3px;
    letter-spacing: 3px;
    top: 100px;
    left: 540px;
 }

 .under2{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    position: absolute;
    word-spacing: 3px;
    letter-spacing: 3px;
    top: 150px;
    left: 220px;
 }


 .under3{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #ffffffaf;
    text-align: justify;
    text-align: center;
    position: absolute;
    word-spacing: 3px;
    top: 300px;
    left: 300px;
 }

 .box {
    width: 180px;
    height: 30px;
    border-radius: 25px;
    background-color:  #F6B6CC;
    position: absolute;
    font-size: 12px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    padding: 0px 10px ;
    padding-top: 10px;
    top: 400px;
    left: 500px;
}

.box:hover {
    border-radius: 25px;  
    background-color:#8D7ACB;
    opacity: 1.0;
}
.gather{
    display: flex;
    justify-content: space-between;
    padding: 0px 49px;
    padding-top: 0px;
}


.gather1, .gather2, .gather3 {
    width: 407px;
    height: 110px;
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    margin-top: 7px;
}
.gather1{
    background-color: #8D7ACB;
}
.gather2{
    background-color: #C2CD4A;
}
.gather3{
    background-color: #F6B6CC;
}
.text{
    font-family: 'Yesteryear', cursive;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
.text1{
    font-size:15px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.space{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px 49px;
    
}

.s{
    font-size: 48px;
    margin-left: 190px;
    margin-bottom: 0px;
    text-align: right;
    color: #000000e7;
    word-break: 4px;
    letter-spacing: 2px;
}
.s1{
    text-align:justify;
    text-align: left;
    font-size: 18px ;
    left: 12px;
    margin-top: 48px;
    margin-bottom: 0px;
    line-height: 28px;
    color: #807777f5;
}


.space2{
    display: flex;
    justify-content: space-between;
    padding: 0px 140px;
    margin-top: 2px;
}

.s2{
    font-size: 12px;
    margin-left: 290px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: left;
    color: #928989f5;
    letter-spacing: 2px;
}

.s3{
    text-align:justify;
    text-align: left;
    font-size: 18px ;
    margin-top: 1px;
    margin-right: 50px;
    line-height: 25px;
    color:#807777f5;
}
.box1{
    width: 210px;
    height: 30px;
    border-radius: 35px;
    background-color:  #8D7ACB;
    position: absolute;
    font-size: 12px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 20px;
    padding-top: 17px;
    margin-top: 30px;
    margin-left: 780px;
    letter-spacing: 1px;

   
}

.box1:hover {
    border-radius: 35px;  
    background-color: #F6B6CC;
    opacity: 1.0;
}

.in{
    display: flex;
    justify-content: space-between;
    padding-top:0px;
    margin-top: 130px;
    padding-left: 190px ;
    padding-right: 130px;
    
}

.in1, .in2, .in3 {
    width: 300px;
    height:500px;
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
}

.line{
   margin-top: 40px;
   margin-left: 48px;
    color: #000000;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    position: absolute;

}
.line:hover{
    color: #8D7ACB;
    
}
.sub{
    margin-top: 100px;
    margin-left: 24px;
}

.line1{
   margin-top: 30px;
   margin-left: 28px;
   color: #636060;
   font-size: 18px;
   text-align: center;
   position: absolute;
   line-height: 28px;
      
}
.box2{
    width: 155px;
    height: 25px;
    border-radius: 35px;
    background-color:  #8D7ACB;
    font-size: 12px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 20px;
    padding-top: 17px;
    margin-top: 140px;
   margin-left: 50px;
   text-align: center;
   font-weight: bold;
   position: absolute;
   
   
}

.box2:hover {
    border-radius: 35px;  
    background-color: #F6B6CC;
    opacity: 1.0;
}


.box3{
    width: 155px;
    height: 25px;
    border-radius: 35px;
    background-color: #C2CD4A;
    font-size: 12px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 20px;
    padding-top: 17px;
    margin-top: 140px;
   margin-left: 50px;
   text-align: center;
   font-weight: bold;
   position: absolute;
   
   
}

.box3:hover {
    border-radius: 35px;  
    background-color: #F6B6CC;
    opacity: 1.0;
}

.box4{
    width: 155px;
    height: 25px;
    border-radius: 35px;
    background-color:  #F6B6CC;
    font-size: 12px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 20px;
    padding-top: 17px;
    margin-top: 140px;
    margin-bottom: 0px;
   margin-left: 50px;
   text-align: center;
   font-weight: bold;
   position: absolute;

}

.box4:hover {
    border-radius: 35px;  
    background-color: #8D7ACB;
    opacity: 1.0;
}

.card{
    display: flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-left: 48px;
   padding-left: 140px;
   padding-right: 130px;
  
}
.cardd{
    position: relative;
}
.c{
    position: relative;
}
.cardd1{
    position: absolute;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
    color: #f8a5c2;
    top: 25px;
    left: 75px;
   margin-top: 7px;
}

.cardd2{
    position: absolute;
    font-size: 45px;
    color: #000000;
    margin-top: 5px;
    top: 80px;
    left: 60px;
    letter-spacing: 4px;
}

.cardd3{
    position: absolute;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C2CD4A;
    text-decoration: none;
    margin-top: 5px;
    top: 200px;
    left: 112px;
    letter-spacing: 1px;
    
}
.cardd3:hover{
    text-decoration: underline #C2CD4A;
}

.back{
    display: flex;
   justify-content: space-between;
   margin-top: 30px;
   margin-left: 40px;
   width:1234 ;
   height:500 ;
   position: relative;
  
}
.fa-heart{
    color:#F6B6CC;
    top: 120px;
    left: 590px;
    position: absolute;
    font-size: 35px;
}
.back-t{
font-size: 50px;
color: #ece9e6;
top: 170px;
left: 400px;
position: absolute;
}

.back-t1{
    font-family: 'Yesteryear', cursive;
    color:#F6B6CC;
    font-size: 25px;
    top: 230px;
    left: 540px;
    position: absolute;
    letter-spacing: 2px;
    text-decoration: none;

}
.back-t1:hover{
    color:#8D7ACB

}
.back-p{
    position: absolute;
    top: 290px;
    left: 120px;
}

.back-b{
    position: absolute;
    box-sizing: border-box;
    width: 520;
    height: 400;
    background-color: #fff;
    top: 290px;
    left:640px ;
}

.back-b1{
    
    font-size: 40px;
    text-align: center;
    color: #000000;
    margin-top: 60px;
    left:700px ;
   
}

.back-b2{
    font-size: 18px;
    text-align: center;
    color: #797676;
    margin-top: 40px;
    left:700px ;
   
}

.back-b3{
width: 250px;
height: 30px;
border-radius: 35px;
background-color: #F6B6CC;
font-size: 12px;
color: #fff;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
letter-spacing: 2px;
font-weight: bold;
left:140px ;
position: absolute;
margin-top: 25px;
padding-top: 15px;
text-decoration: none;

}

 .back-b3:hover{
    background-color: #8D7ACB;
}

.icon {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    margin-top: 230px;
    padding-left: 160px;
    padding-right: 170px;
    color: #000000;
    position: relative;
}

.icon1, .icon2, .icon3, .icon4 {
    width: 200px; 
    height: auto; 
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px; 
}

.fa-spa, .fa-location-dot, .fa-gift, .fa-calendar-days {
    font-size: 40px;
    text-align: center;
    color: #F6B6CC;
    margin-left: 30px;
}

.icon1-1, .icon2-1, .icon3-1, .icon4-1 {
    margin-left: 25px; 
    margin-bottom: 0;
    font-size: 25px;
    margin-top: 8px;
    
}

.icon1-2, .icon2-2, .icon3-2, .icon4-2 {
    text-align: center;
    margin-left: 25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon3-3 {
    text-decoration: none;
    color: #8D7ACB;
}

.icon3-3:hover {
    color: #F6B6CC;
}



.mix {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 55px;
    padding: 20px;
    background-color: #ffffff;
    width:1190 ;
   height:950;
}

.fa-pagelines {
    color: #8D7ACB;
    font-size: 45px;
     margin-top: 70px;
}

.mix1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.mix2 {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Yesteryear', cursive;
   
}

.mix2:hover {
    color: #F6B6CC;
}

.three {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
}

.one, .two, .threee {
    text-align: center;
    padding: 10px;  

}


.links {
    margin-top: 10px;
}

.one-1, .two-1,  .three-1 {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: #000000;
    font-size: 25px;

}

.one-1:hover , .two-1:hover , .three-1:hover {
    color: #8D7ACB;
}


 .one-2 , .two-2 , .three-2{
  margin-top: 20px;
    color: #8D7ACB;
    text-decoration: none;
 }

 .one-2:hover , .two-2:hover , .three-2:hover{
   color: #000000;
 
   }


.one-3, .two-3, .three-3 {
    margin-top: 10px;
    font-size: 30px;
    color: #C2CD4A;
}

.fa-circle-arrow-left , .fa-circle-arrow-right{
    color: #636060;
  
    font-size: 35px;
    
}

.iro{
    left: 640px;
    margin-top: 640px;
}


.us{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    padding-left: 170px;
    padding-right: 170px;
    margin-bottom: 0px;
}
.color {
    width: 330px;
    height: 220px;
    background-image: url("../img/color4.jpg"); 
    background-size: cover; 
}
.ve{
    width: 250px;
    height: 490px;
    background-image: url("../img/color3.jpg"); 
    background-size: cover; 
    position: relative;
   
}

.vep{
    width: 150px;
    height:20px;
    border-radius: 0px;
    background-color: #F6B6CC;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-top: 90px;
    padding-top: 10px;
    letter-spacing: 3px;
    position: absolute;
}
.ve1 {
    color: #fff;
    font-size: 75px;
    margin-left: 40px;
    margin-top: 130px;
    margin-bottom: 0px;
    letter-spacing: 2px;
    position: absolute;
}
.ve2 {
    color: #fff;
    font-size: 100px;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 190px;
    margin-bottom: 0;
    letter-spacing: 2px;
    text-align: left; 
    display: inline-block;
    position: absolute;
}

.off p {
    margin: 0; 
    padding: 0; 
    color: #fff;
    font-size: 45px;
    line-height: 1;
    
}

.off {
    display: inline-block;
    margin-top: 200px;
    margin-left: 100px; 
    text-align: right;
}

.sale-container {
    display: flex;
    align-items: flex-start; 
}

.ve3{
    color:#fff;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 5px;
}
.ve5{
        width: 160px;
        height: 50px;
        border-radius: 35px;
        background-color: #8D7ACB;
        font-size: 12px;
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bold;
        left:610px ;
        position: absolute;
        text-decoration: none;
        display: flex; 
        justify-content: center; 
        align-items: center;
}
.ve5:hover {
    background-color: #F6B6CC; 
}
.no{
    width: 330px;
    height: 220px;
    background-image: url("../img/color4.jpg"); 
    background-size: cover; 
}

.us1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding-left: 160px;
    padding-right: 160px;
    position: relative;
    bottom:250px;
  
}

.co{
    width: 330px;
    height: 250px;
    background-image: url("../img/color2.jpg"); 
    background-size: cover;
    margin-left: 10px;
}
.yes{
    width: 320px;
    height: 250px;
    background-image: url("../img/color1.jpg"); 
    background-size: cover; 
    padding: 0px 5px;
    margin-right: 10px;
}



.color4-t , .color4-t1 , .color4-t2{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}
.color4-t {
    font-family:'Yesteryear', cursive;
    font-size: 45px;
}

.color4-t1{
  font-size: 55px;
 margin-left: 40px;
 letter-spacing: 2px;
}
.color4-t2{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
}



.cop{
    width: 70px;
    height:20px;
    border-radius: 0px;
    background-color:#ffffff;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 200px;
    margin-top: 90px;
    padding-top: 10px;
    letter-spacing: 3px;
    position: absolute;}

.co1{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    margin-top: 130px;
     margin-left: 190px;
     text-align: left;
}











